.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.layout-wrapper {
  position: relative;
  max-width: 1200px; /* or whatever width you want */
  margin: 0 auto;
  padding: 0 2rem;
}

/* vertical guide lines */
.layout-wrapper::before,
.layout-wrapper::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 1px;
  background-color: #d1d5db; /* light gray like Tailwind's gray-300 */
}

.layout-wrapper::before {
  left: 0;
}

.layout-wrapper::after {
  right: 0;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
